/* billboard */
.billboard{
	width: 100%;
	height: 450px;
	background: #eae2e2 url('') no-repeat fixed;
}
.wrapper{
	width: 1060px;
	height: auto;
	margin: 0 auto;
}


/* header */
header{
	width: 100%;
	height: 100px;
	/*background: #f4c995;*/
	background-color: rgba(255, 255, 255, .1);
	position: fixed;
	z-index: 9999;
}

header .h_logo{
	float: left;
	margin-top: 20px;
}

header nav{
	float: right;
	margin-top: 42px;
	overflow: hidden;
}
header nav ul li{
	float: left;
	margin-left: 30px;
}

header nav ul li a{
	text-decoration: none;
	font-family: 'LatoBold', arial;
	font-weight: bold;
	font-size: 16px;
	color: #fef8f1;
	letter-spacing: 1px;
}

header nav ul li a:hover{
	color: #ffffff;
}
header .logo{
	float: left;
	margin-top: 15px;
}
.caption{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 200px;
}
.caption .captiontitle{
	font-family: 'LatoBold', arial;
	font-weight: Bold;
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.jkonten{
	color: #636363;
	font-family: "LatoBold", arial;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 60px;
}
